POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public"

API_PORT=
NODE_ENV=""

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN_MS=
REFRESH_TOKEN_EXPIRES_IN_MS=

WEB_URL=""